.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

input.input-fields {
  width: 20rem;
  height: 2rem;
}

input.submit-btn {
  width: 12rem;
  height: 2rem;
}

.btn-container {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}

button.cancel-btn {
  width: 6rem;
  height: 2rem;
}

.selected-image-container {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: end;
}

.selected-image {
  width: 12rem;
  height: 8rem;
}

h4 {
  color: red;
}
