/* Table Navigation Bar */
.table-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 65rem;
  height: 5rem;
  border-top-right-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  background-color: rgb(188, 188, 188);
}

/* Table Container */
.container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.columns {
  display: flex;
  align-self: flex-start;
  margin-left: 1.5rem;
  gap: 8rem;
  margin-top: 1rem;
}

h3,
h2 {
  margin: 0;
  padding: 0;
}
