/* Table Navigation Bar */
.table-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45rem;
  height: 5rem;
  border-top-right-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  background-color: rgb(105, 198, 228);
}

/* Table Container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

/* Summary Section */
.summary-container {
  display: flex;
  flex-direction: column;
  width: 40rem;
  height: 35rem;
  border-radius: 2rem;
  background-color: rgb(191, 246, 255);
}

.summary-container > :first-child {
  margin-top: 7rem;
}

.summary-container > * {
  margin-left: 2rem;
}

.summary-container > :last-child {
  margin-top: 2rem;
  width: 8rem;
}
