h2,
button {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table-nav {
  width: 65rem;
}

.table-nav {
  display: flex;
  align-items: center;
  height: 5rem;
  justify-content: space-between;
  border-top-right-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  background-color: rgb(188, 188, 188);
}

.filter-btn {
  margin-left: 2rem;
}

.add-btn {
  margin-right: 2rem;
}
