.dropdown-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 0;
  position: absolute;
  background-color: rgb(251, 251, 251);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 6rem;
  margin-left: 0.12rem;
}

.dropdown-item {
  font-size: 1.1rem;
  padding-left: 0.6rem;
}

li.dropdown-item:hover {
  background-color: rgb(83, 147, 244);
}

li.dropdown-item:active {
  background-color: rgb(19, 87, 190);
}

.dropdown-item {
  cursor: pointer;
}
